<div class="row">

    <div class="col-xs-12">

        <h2 ng-if="settings.title" ng-bind="settings.title"></h2>

        <div>
            <ul class="nav nav-tabs" ng-if="settings.tabs.length > 1">
                <li role="presentation" ng-class="{'active': $first}" ng-repeat="tab in settings.tabs"><a href="">{{tab.title}}</a></li>
            </ul>

            <div>
                <div class="panel panel-default">
                    <div class="panel-body">


                        <div class="media" ng-repeat="comment in range(settings.tabs[0].commentCount) track by $index">
                            <div class="media-left">
                                <a href="">
                                    <img style="width: 64px; height: 64px; max-width: 64px;" class="media-object" src="http://placehold.it/64x64" />
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Comment author</h4>

                                Comment text
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</div>