<div>

  <st-form model="group" state="error" submit="saveItem(group)">

    <div style="height: 65px;z-index: 100" sticky sticky-class="sticky-element" body-class="sticky-enabled"
         class="normalheader transition animated fadeIn small-header">
      <div class="hpanel" bz-loading-container="loading">
        <div class="panel-body">

          <div class="row">
            <div class="col-lg-9">

              <a ui-sref="keywords.specifications" class="back-btn">
                <span class="pe-7s-angle-left"></span>
              </a>

              <h2 class="font-light m-b-xs">
                <span>{{group.title}}</span>
              </h2>

              <small>
                {{'Specification created:'|translate}}
                {{group.createDate|date:'dd.MM.yyyy'}}
                {{'at'|translate}}
                {{group.createDate|date:'HH:mm'}}
              </small>

            </div>
            <div class="col-lg-3">

              <div class="form-actions">
                <button ng-disabled="loading" ng-class="{'m-progress': loading}" class="btn btn-primary btn-outline"
                        type="submit">
                  {{'Save'|translate}}
                </button>
                <a ui-sref="keywords.specifications" class="btn btn-default">
                  {{'Cancel'|translate}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content" animate-panel effect="zoomIn">

      <div class="row">
      <div class="col-md-9">

        <div class="hpanel">
          <div class="panel-body">

            <div ng-include="'views/modules/keywords/page-group-preview.html'"></div>

            <button type="button" ng-disabled="loading" ng-class="{'m-progress': loading}" ng-click="back('completed')"
                    class="btn btn-primary">Back
            </button>

          </div>
        </div>


        <div class="hpanel">

          <div class="panel-heading">
            {{'Comments'|translate}}
          </div>

          <div class="panel-body">

            <div comments-box collection-name="keywordGroups" place-holder="Комментарий..." resource-id="{{group._id}}"></div>

          </div>


        </div>

      </div>
      <div class="col-md-3">

        <div class="hpanel hblue">
          <div class="panel-heading">
            {{'Assigment'|translate}}
          </div>
          <div class="panel-body">


            <st-form-element label="{{'Assigned to'|translate}}" field="group.result.account">

              <users-select-box account="group.result.account"></users-select-box>

            </st-form-element>

            <st-form-element label="{{'Due date'|translate}}" field="group.result.dueDate">

              <div ng-if="group.result.dueDate" date-picker="group.result.dueDate" view="minutes"></div>
              <div ng-if="!group.result.dueDate" date-picker="group.result.dueDate"></div>

            </st-form-element>

          </div>
        </div>

      </div>
      </div>

    </div>

  </st-form>
</div>

