<div>

  <h2 class="font-light m-b-xs ng-binding">
    {{'Specifications'|translate}}
  </h2>


  <table ng-table="tableParams" show-filter="false" class="table">
    <tr ng-repeat="item in $data">
      <td width="100" data-title="'Due date'|translate" class="text-center" sortable="'dueDate'">
        <strong>{{item.dueDate|date:'dd.MM.yyyy'}}</strong>
      </td>
      <td class="table-preview" data-title="'Title'|translate" filter="{ 'search': 'text' }" sortable="'title'">
        <a class="text-info" ui-sref="keywords.specificationsView({ _id: item._id })" ng-if="item.status != 'completed'">
          {{item.title}}
        </a>
        <span ng-if="item.status == 'completed'">{{item.title}}</span>
      </td>
      <td width="100" class="text-center" data-title="'Status'|translate">
        <div class="label label-default" ng-if="item.status == 'inprocess'">Черновик</div>
        <div class="label label-warning" ng-if="item.status == 'completed'">На проверке</div>
      </td>
      <td style="width: 20%" data-title="'Date of creation'|translate" sortable="'createDate'" class="text-center">
        <span tooltip-placement="top" tooltip="{{item.createDate|stDialogDate}}">
            {{item.createDate|date:'dd.MM.yyyy'}}
            {{item.createDate|date:'HH:mm'}}
        </span>
      </td>
    </tr>
  </table>


</div>