<div class="hpanel">

    <div class="panel-body">

        <st-form-element label="{{'Title'|translate}}" field="title">

            <input class="form-control input-lg" name="title" type="text" required ng-model="item.title"/>

        </st-form-element>

        <st-form-element label="{{'Alphabetic currency code'|translate}}" field="title">

            <input class="form-control" name="alias" type="text" required ng-model="item.alias"/>

        </st-form-element>

        <st-form-element label="{{'Symbol'|translate}}" field="symbol">

            <input class="form-control" name="symbol" type="text" required ng-model="item.symbol"/>

        </st-form-element>

        <st-form-element label="{{'Factor'|translate}}" field="factor">

            <input class="form-control" name="factor" type="number" required ng-model="item.factor"/>

        </st-form-element>

    </div>

</div>