<input type="checkbox" ng-model="checkboxes.checkedAll" id="select_all" name="filter-checkbox"/>
<div class="btn-group checkboxMenu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="" ng-click="checkboxes.checkedAll = !checkboxes.checkedAll">{{"Выделить все"|translate}}</a></li>
        <!--li>
            <a href="" ng-click="checkboxes.checkedVisible = !checkboxes.checkedVisible">
                {{"Выделить видимое"|translate}}
            </a>
        </li-->
        <li><a href="" ng-click="checkboxes.checkedAll = false; checkboxes.items = []">{{"Снять выделение"|translate}}</a></li>
        <li><a href="" ng-click="invertChecked(checkboxes.items)">{{"Инвертировать выделение"|translate}}</a></li>
    </ul>
</div>