<div class="hpanel">

    <div class="panel-body">

        <st-form-element label="{{'Title'|translate}}" field="title">

            <input class="form-control input-lg" name="title" type="text" required ng-model="item.title"/>

        </st-form-element>

        <st-form-element label="{{'Description'|translate}}" field="title">

            <textarea class="form-control" name="description" ckeditor="editorOptions" ng-model="item.body"></textarea>
        </st-form-element>

    </div>

</div>

<div class="hpanel"
     ng-class="{'hred': !item.files.length, 'hyellow': item.files.length && !item.coverFile}">
    <div class="panel-heading">
        {{'Attached images'|translate}}
    </div>
    <div class="panel-body clearfix" editor-select-images="item.files">

        <cs-file-upload resource-id="{{item._id}}" collection-name="productBrands" files="item.files"
                        cover-file="item.coverFile" has-cover-select="true">
        </cs-file-upload>

    </div>
</div>