<div class="input-group input-group-sm">

    <div class="input-group-addon">
        {{urlPrefix}}
    </div>


    <input class="form-control" name="alias" type="text" required ng-model="value" ng-pattern="/^[a-z0-9\-]+$/i" />

    <div class="input-group-btn" ng-if="showExternal">
        <a ng-href="/{{value}}"
           class="btn btn-default" tooltip-placement="left"
           tooltip="{{'Open on site'|translate}}" target="_blank">
            <span class="fa fa-external-link"></span>
        </a>
    </div>

</div>
