

<st-form-element label="{{'Title'|translate}}" field="meta.title">

    <input id="meta_title" class="form-control" name="meta_title" type="text" ng-model="item.meta.title"/>

</st-form-element>

<st-form-element label="{{'Keywords'|translate}}" field="meta.keywords">

    <input id="meta_keywords" class="form-control" name="meta_keywords" type="text" ng-model="item.meta.keywords"/>

</st-form-element>

<st-form-element label="{{'Description'|translate}}" field="meta.description">

    <textarea id="meta_description" class="form-control" rows="3" name="meta_description" type="text" ng-model="item.meta.description"></textarea>

</st-form-element>