<div>


  <st-form model="item" state="error" submit="saveItem(item)">

    <st-header title="{{post._id ? 'Editing of poll' : 'New poll'}}">

      <a ng-href="/preview/polls/{{item._id}}" ng-if="item._id"
         class="pull-right m-r-md btn btn-default btn-outline" tooltip-placement="left" tooltip="{{'Open on site'|translate}}" target="_blank">
        <span class="fa fa-external-link"></span>
      </a>
      <button ng-disabled="loading" ng-class="{'m-progress': loading}" class="btn btn-primary btn-outline" type="submit">
        {{'Save'|translate}}
      </button>
      <a ui-sref="voting.polls" class="btn btn-default">
        {{'Cancel'|translate}}
      </a>

    </st-header>

    <div class="content" animate-panel effect="zoomIn">

      <div class="row">
        <div class="col-lg-7">


          <tabset class="hpanel">
            <tab>
              <tab-heading>{{'Main information'|translate}}</tab-heading>

              <div class="panel-body">
                <st-form-element label="{{'Title'|translate}}" field="title">

                  <input id="title" class="form-control input-lg" name="title" type="text" required
                         ng-model="item.title"/>

                </st-form-element>

                <st-form-element label="{{'Alias'|translate}}" field="alias">

                  <input id="alias" class="form-control" name="alias" type="text" required
                         ng-model="item.alias"/>

                </st-form-element>

                <st-form-element label="{{'Body'|translate}}" field="body">

                                <textarea id="body" class="form-control" name="body" ckeditor="editorOptions"
                                          ng-model="item.body"></textarea>

                </st-form-element>
              </div>
            </tab>
          </tabset>

        </div>
        <div class="col-lg-5">


          <st-panel title="{{'Choices'|translate}}" is-primary="true">

            <table class="table">
              <tr ng-repeat="(n, choice) in item.choices track by n">
                <td>
                  <a href="" ng-click="editChoise(choice)">
                    {{choice.title}}
                  </a>
                </td>
                <td>{{choice.voteCount}}</td>
                <td class="text-right">

                  <a href="" st-confirm="remove(choice)" title="{{'Delete choice'|translate}}"
                     message-title="'Delete'|translate" message="'Are you realy want to delete this choice?'|translate">
                    <span class="fa fa-times text-danger"></span>
                  </a>
                </td>
              </tr>
            </table>

            <a class="btn btn-success btn-outline btn-sm" href="" ng-click="editChoise()">
              <i class="fa fa-plus"></i> {{'New choice'|translate}}
            </a>

          </st-panel>

        </div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <div class="hpanel">
            <div class="panel-heading">
              {{'Attached images'|translate}}
            </div>
            <div class="panel-body clearfix" editor-select-images="item.files">
              <div>
                <cs-file-upload resource-id="{{item._id}}" collection-name="polls" files="item.files"
                                cover-file="item.coverFile" has-cover-select="true">
                </cs-file-upload>
              </div>

            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <div class="hpanel">
            <div class="panel-heading">
              {{'Meta tags'|translate}}
            </div>
            <div class="panel-body">

              <div base-meta-edit="item"></div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </st-form>
</div>