<div>

    <st-form model="item" state="error" submit="saveItem(item)">
    <h2 class="font-light m-b-xs">
        {{'Edit'|translate}}
    </h2>


    <div class="hpanel" bz-loading-container="loading">
        <div class="panel-body no-bottom-border">

            <st-form-element label="{{'Title'|translate}}" field="title">

                <input id="title" class="form-control input-lg" name="title" type="text" required
                       bz-localizable="item.title"
                       ng-model="item.translates.title[$contentLanguage.code]"/>

            </st-form-element>

            <st-form-element label="{{'URL'|translate}}" field="title">

                <input class="form-control" name="alias" type="text" required ng-model="item.alias"/>

            </st-form-element>

        </div>

        <div class="panel-footer">

            <a href="" class="btn btn-danger btn-outline pull-right" st-confirm="remove(child)"
               message-title="'Удаление...'"
               message="'Вы действительно хотите удалить?'">
                {{'Delete'| translate}}
            </a>

            <button class="btn btn-primary" type="submit">
                {{'Save'| translate}}
            </button>

            <a href="" class="btn btn-default" ng-click="cancel()">
                {{'Cancel'| translate}}
            </a>

        </div>
    </div>

    </st-form>
</div>