<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>{{globalCtrl.title()}}</span>
</div>
<nav role="navigation">
    <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">HOMER APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a ui-sref="auth.logout">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




