<st-form model="post" state="error" submit="saveItem(post)">
    <div class="color-line"></div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{'Create variation from product'|translate}}</h4>
    </div>
    <div class="modal-body" bz-loading-container="loading">


        <st-form-element label="{{'Product'|translate}}" field="title">

            <ui-select ng-model="variation" required theme="bootstrap" on-select="selectSource($item, $model)">
                <ui-select-match>
                    <div class="media">
                        <div class="media-left" ng-if="$select.selected.coverFile">
                            <img ng-src="/api/files/{{$select.selected.coverFile._id}}?width=40" />
                        </div>
                        <div class="media-body">
                            <div ng-bind-html="$select.selected.title"></div>
                            <small ng-bind-html="$select.selected.code"></small>
                        </div>
                    </div>
                </ui-select-match>
                <ui-select-choices repeat="item in products track by item.title"
                                   refresh="loadProducts($select.search)" refresh-delay="100">

                    <div class="media">
                        <div class="media-left" ng-if="item.coverFile">
                            <img ng-src="/api/files/{{item.coverFile._id}}?width=40" />
                        </div>
                        <div class="media-body">
                            <div ng-bind-html="trustAsHtml((item.title | highlight: $select.search))"></div>
                            <small ng-bind-html="trustAsHtml((item.code | highlight: $select.search))"></small>
                        </div>
                    </div>


                </ui-select-choices>
            </ui-select>

        </st-form-element>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="saveItem()" ng-disabled="!product.variationProduct">{{'Сохранить'|translate}}</button>
        <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">{{'Отмена'|translate}}</button>
    </div>
</st-form>