<div bz-loading-container="loading">

  <st-form model="item" state="error" submit="saveItem(item)">

    <st-header title="{{item._id ? 'Редактирование продукта' : 'Добавление продукта'}}">

      <button ng-disabled="loading" ng-class="{'m-progress': loading}" class="btn btn-primary btn-outline"
              type="submit">
        {{'Save'|translate}}
      </button>
      <a ng-if="!item.isVariation" ui-sref="ecommerce.products" class="btn btn-default">
        {{'Cancel'|translate}}
      </a>
      <a ng-if="item.isVariation" ui-sref="ecommerce.edit({id: item.variationProduct._id})" class="btn btn-default">
        {{'Cancel'|translate}}
      </a>

    </st-header>

    <div class="content" animate-panel effect="fadeIn" delay="0">

      <div ng-include="'views/modules/ecommerce/form-product.html'"></div>

    </div>
  </st-form>
</div>