<div class="content" animate-panel effect="zoomIn" delay="0">

    <div class="row">

        <div class="col-md-9">

            <div class="pull-right">
                <a class="btn btn-success btn-outline" ui-sref="ecommerce.create">
                    <i class="fa fa-plus"></i> {{'New product'|translate}}
                </a>
            </div>
            <h2 class="font-light m-b-xs ng-binding">
                {{'Products'|translate}}
            </h2>

            <div class="hpanel">
                <div class="panel-body" bz-loading-container="loading">


                    <table ng-table="tableParams" ng-table-filters-manager show-filter="false" class="table">
                        <tr ng-repeat="item in $data" ng-class="{'success': item.isPublished}">
                            <td data-title="'Title'|translate" sortable="'title'" filter="{'search': 'text'}">
                                <a ui-sref="ecommerce.edit({id: item._id})">
                                    <span ng-if="item.code" class="font-bold">{{item.code}}</span>
                                    {{item.title}}
                                </a>
                            </td>
                            <td data-title="'Price'|translate" sortable="'price'">
                                <div bz-loading-container="item.$loading">
                                    <input type="number" ng-model="item.price" ng-blur="updateItem(item)" class="form-control" />
                                </div>
                            </td>
                            <td data-title="'Availability'|translate" sortable="'inStockCount'">

                                <span class="label label-default" ng-if="!item.isInStock">{{'Not available'|translate}}</span>
                            <span class="label label-success" ng-if="item.isInStock">
                                {{'In stock:'|translate}}
                                {{item.inStockCount}}
                            </span>

                            </td>
                            <td data-title="'Date of creation'|translate" sortable="'createDate'">

                                {{item.createDate|date:'yyyy-MM-dd'}}<br/>
                                {{item.createDate|date:'HH:mm:ss'}}

                            </td>
                            <td width="50" data-title="'Order'|translate" sortable="'ordinal'">
                                <div bz-loading-container="item.$loading">
                                    <input type="number" ng-model="item.ordinal" ng-blur="updateItem(item)" class="form-control" />
                                </div>
                            </td>
                            <td data-title="'Actions'|translate" class="actions text-right">

                                <div class="btn-group">

                                    <a href="" data-ng-click="item.isPublished = !item.isPublished; updateItem(item)">
                                        <span ng-if="!item.isPublished" title="{{'Unpublish'|translate}}">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <span ng-if="item.isPublished" title="{{'Publish'|translate}}">
                                            <i class="fa fa-unlock"></i>
                                        </span>
                                    </a>

                                    <a ui-sref="ecommerce.edit({_id: item._id})" title="{{'Edit'|translate}}"><span class="fa fa-pencil"></span></a>

                                    <a href="" st-confirm="remove(item)" title="{{'Delete product'|translate}}"
                                       message-title="'Delete'|translate" message="'Are you realy want to delete this product?'|translate">
                                        <span class="fa fa-times text-danger"></span>
                                    </a>
                                </div>

                            </td>
                        </tr>
                        <tr ng-if="!$data.length">
                            <td colspan="{{$columns.length}}" class="text-center">{{'No products'|translate}}</td>
                        </tr>
                    </table>


                </div>
            </div>


        </div>
        <div class="col-md-3">

            <div ng-include="'views/modules/ecommerce/block-tree.html'"></div>

        </div>


    </div>


</div>