<div class="panel-body" ng-controller="KeywordsSeoBlockCtrl">

    <select class="form-control" ng-model="post.keywordGroup._id" ng-options="group._id as group.title group by group.project.title for group in groups"></select>

    <br/>

    <table class="table table-condensed">
        <tr>
            <th>Keyword</th>
            <th class="text-center">G</th>
            <th class="text-center">Я</th>
        </tr>
        <tr ng-repeat="keyword in post.seo.keywords">
            <td>{{keyword.title}}</td>
            <td class="text-center">
                <span ng-if="keyword.google">{{keyword.google}}</span>
                <span ng-if="!keyword.google">-</span>
            </td>
            <td class="text-center">
                <span ng-if="keyword.yandex">{{keyword.yandex}}</span>
                <span ng-if="!keyword.yandex">-</span>
            </td>
        </tr>
    </table>

    <div style="overflow: auto">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th style="width: 200px">Date</th>
            <th ng-repeat="(n, date) in dates track by n">{{date}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(keyword, row) in tableData">
            <td style="width: 200px; white-space: nowrap;">{{keyword}}</td>
            <td ng-repeat="item in row" ng-class="item.class">
                {{item.value}}
                <sup ng-if="item.showDiff">
                    {{item.showDiff}}
                </sup>
            </td>
        </tr>
        </tbody>
    </table>
    </div>


    <div ng-if="post.keywordGroup._id && post._id && post.status == 4">
        <button class="btn btn-default btn-block" type="button" ng-click="updateSeoPositions()">{{'Update positions'|translate}}</button>
    </div>

    <div class="clearfix">

        <!--nvd3 options="options" data="data"></nvd3-->

    </div>



    <div bz-loading-container="loading">
    <div>
        <button type="button" ng-click="reloadLog()" class="btn btn-default">Обновить</button>
    </div>

    <table class="table table-condensed" ng-table="tableParams">
        <tr ng-repeat="log in logs">
            <td data-title="'Действие'" ng-switch="log.action">
                <span ng-switch-when="get-yandex-position">Снятие позиций в Яндексе</span>
                <span ng-switch-when="get-google-position">Снятие позиций в Google</span>
            </td>
            <td data-title="'Статус'">
                <span class="label" ng-class="{'label-success': log.status == 'completed', 'label-danger': log.status == 'errored', 'label-warning': log.status == 'inprocess'}">{{log.status}}</span>
            </td>
            <td data-title="'Дата создания'">
                {{log.createDate}}
            </td>
            <td width="25%" data-title="'Результат'">
                <span ng-bind-html="log.resultString"></span>
            </td>
        </tr>
    </table>
    </div>
</div>