<div class="content" animate-panel effect="zoomIn">

  <div class="row">

    <div class="col-md-9">

      <div class="pull-right">
        <a class="btn btn-success btn-outline" ui-sref="issues.create">
          <i class="fa fa-plus"></i> {{'New issue'|translate}}
        </a>
      </div>
      <h2 class="font-light m-b-xs ng-binding">
        {{'Issues'|translate}}
      </h2>

      <div class="hpanel">
        <div class="panel-body" bz-loading-container="loading">


          <table ng-table="tableParams" show-filter="true" class="table">
            <tr ng-repeat="item in $data">
              <td style="width: 15%" class="table-preview" data-title="'Title'|translate" filter="{ 'search': 'text' }" sortable="'title'">
                <a class="text-info" ui-sref="issues.edit({ issuePrefix: item.issuePrefix, issueNumber: item.issueNumber })" ng-class="{'font-extra-bold': item.isHighlight || item.isTop}">
                  {{item.title}}
                </a>
              </td>
              <td style="width: 10%" data-title="'Status'|translate" sortable="'status.title'">
                {{item.status.title}}
              </td>
              <td style="width: 10%" data-title="'Author'|translate" sortable="'createdBy.title'">
                {{item.createdBy.title}}
              </td>
              <td class="actions text-right" style="width: 5%" data-title="'Actions'|translate">

                <a ui-sref="issues.edit({ issuePrefix: item.issuePrefix, issueNumber: item.issueNumber })"
                   title="{{'Edit'|translate}}"><span class="fa fa-pencil"></span>
                </a>
                <a href="" st-confirm="remove(item)" title="{{'Delete article'|translate}}"
                   message-title="'Delete'|translate" message="'Are you realy want to delete this article?'|translate">
                  <span class="fa fa-times text-danger"></span>
                </a>

              </td>
            </tr>
          </table>

        </div>
      </div>


    </div>
    <div class="col-md-3">



    </div>


  </div>


</div>