<nav class="menu">
    <h3 class="menu-heading">
        Manage Your Forms
    </h3>
    <a class="menu-item" href="" ui-sref="forms.main" ui-sref-active="selected">
        Forms
    </a>
</nav>

<nav class="menu">
    <h3 class="menu-heading">
        <span class="octicon octicon-clippy"></span>
        Filled Forms
    </h3>
    <a class="menu-item" href="" ui-sref-active="selected">
        <span class="counter">3</span>
        Feedback Form
    </a>
    <a class="menu-item" href="" ui-sref-active="selected">
        <span class="counter">1</span>
        FAQ Form
    </a>
</nav>
