<div class="content">
<div class="row">


  <div class="col-xs-3">

    Меню формировщика ТЗ
    <div class="list-group">
      <a href="" ui-sref="keywords.groups" ui-sref-active="active" class="list-group-item">
        <!--<span class="badge">14</span>-->
        Формирование ТЗ
      </a>
    </div>

    Меню редактора
    <div class="list-group">
      <a href="" ui-sref="keywords.specifications" ui-sref-active="active" class="list-group-item">
        <!--<span class="badge">14</span>-->
        Написание ТЗ
      </a>
      <a href="" ui-sref="keywords.assignments" ui-sref-active="active" class="list-group-item">
        Написание статей
      </a>
      <a href="" ui-sref="post.posts" ui-sref-active="active" class="list-group-item">
        Публикации
      </a>
    </div>
  </div>
  <div class="col-xs-9" ui-view></div>

</div>

</div>