<div class="content">
<div class="row">


  <div class="col-xs-3">

    <div class="list-group">
      <a href="" ui-sref="keywords.groups" ng-if="hasPermission(['keywords.formers'])"
         ui-sref-active="active" class="list-group-item">
        <!--<span class="badge">14</span>-->
        Формирование ТЗ
      </a>
      <a href="" ui-sref="keywords.assignments" ng-if="hasPermission(['keywords.groups'])"
         ui-sref-active="active" class="list-group-item">
        Выданное ТЗ
      </a>
      <a href="" ui-sref="keywords.specifications" ng-if="hasPermission(['keywords.specifications'])"
         ui-sref-active="active" class="list-group-item">
        <!--<span class="badge">14</span>-->
        Взятые в работу ТЗ
      </a>
      <a href="" ui-sref="keywords.check" ng-if="hasPermission(['keywords.assignments'])"
         ui-sref-active="active" class="list-group-item">
        <!--<span class="badge">14</span>-->
        На проверке
      </a>
      <!--a href="" ui-sref="post.posts" ui-sref-active="active" class="list-group-item">
        Публикации
      </a-->
    </div>
  </div>
  <div class="col-xs-9" ui-view></div>

</div>

</div>