<div>


    <accordion>
        <accordion-group is-open="item.$open">
            <accordion-heading>
                <span class="fa" ng-class="{'fa-minus': item.$open, 'fa-plus': !item.$open}"></span>
                Текст ТЗ
            </accordion-heading>

            <div ng-bind-html="site.tz.defaultText"></div>

        </accordion-group>
    </accordion>


    <p>
        <strong>Объем текста:</strong>
        {{group.recomendation.minTextLength}}-{{group.recomendation.maxTextLength}}
        characters
    </p>

    <table class="table">
        <tr class="active">
            <td>Ключевая фраза</td>
            <td>Количество вхождений</td>
            <td>Тип вхождения</td>
        </tr>
        <tr ng-repeat="keyword in group.recomendation.keywords">
            <td>
                <strong ng-if="keyword.required">
                    {{keyword.keyword}}
                </strong>
                <span ng-if="!keyword.required">
                    {{keyword.keyword}}
                </span>
            </td>
            <td>{{keyword.useEntry}}</td>
            <td>
                <span ng-if="keyword.useType == 'exact'">Точное</span>
                <span ng-if="keyword.useType == 'inexact'">Разбавочное</span>
                <span ng-if="keyword.useType == 'both'">На выбор</span>
            </td>
        </tr>
    </table>

    <p><strong>Сайты, на которые можно ориентироваться при написании:</strong></p>
    <ol>
        <li ng-repeat="url in group.result.urls" ng-if="url.use">
            {{url.url}}
        </li>
    </ol>

</div>

