<div class="content" animate-panel effect="zoomIn" delay="0">

    <div class="pull-right">
        <a class="btn btn-success btn-outline" href="" ng-click="edit()">
            <i class="fa fa-plus"></i> {{'Добавить представительство'|translate}}
        </a>
    </div>
    <h2 class="font-light m-b-xs ng-binding">
        {{'Представительства'|translate}}
    </h2>

    <div class="hpanel">
        <div class="panel-body" bz-loading-container="loading">


            <table ng-table="tableParams" ng-table-filters-manager show-filter="false" class="table">
                <tr ng-repeat="item in $data" ng-class="{'success': item.isPublished}">
                    <td data-title="'Название'|translate" sortable="'title'" filter="{'search': 'text'}">
                        <a href="" ng-click="edit(item)" title="{{'Редактировать'|translate}}">
                            {{item.title}}
                        </a>
                    </td>
                    <td data-title="'Адрес'|translate" style="width: 80px" sortable="'price'">
                        {{item.body}}
                    </td>
                    <td data-title="'Координаты'|translate" sortable="'inStockCount'">
                        {{item.location.lat}},
                        {{item.location.lng}}
                    </td>
                    <td data-title="'Date of creation'|translate" sortable="'createDate'">

                        {{item.createDate|date:'yyyy-MM-dd'}}<br/>
                        {{item.createDate|date:'HH:mm:ss'}}

                    </td>
                    <td data-title="'Actions'|translate" class="actions text-right">

                        <div class="btn-group">

                            <a href="" ng-click="edit(item)" title="{{'Редактировать'|translate}}">
                                <span class="fa fa-pencil"></span>
                            </a>

                            <a href="" st-confirm="remove(item)" title="{{'Удаление'|translate}}"
                               message-title="'Delete'|translate" message="'Вы действительно хотите удалить это представительство?'|translate">
                                <span class="fa fa-times text-danger"></span>
                            </a>
                        </div>

                    </td>
                </tr>
                <tr ng-if="!$data.length">
                    <td colspan="{{$columns.length}}" class="text-center">{{'Список пуст'|translate}}</td>
                </tr>
            </table>


                </div>
            </div>


</div>